#container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 70vw;
    margin: 1.5em;
    background-color: #395B64;
}

#bookmarkContainer{
    position: absolute;
    right: 5em;
    border-radius: 2em;
    background-color: lightgray;
}

#bookmark{
    width:3em;
}

img{
    width: 90%;
}