#userInformation{
    display: flex;
    align-items: center;
}

#informationContainer{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}

div p{
    font-weight: bold;
}

img{
    margin: 1em;
    width: 10em;
}

h2{
    margin-left: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}